// footer

.site-footer {
  .container {
    border-top: 1px solid $border-color;
    font-size: 13px;
    padding: 14px 0;
    .footer-copy a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .site-info {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        color: $color-anchor;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .social-icons-container {
      display: flex;
      gap: 10px;
      color: $color-anchor;
      .social-icons {
        display: flex;
        gap: 10px;
        a {
          font-size: 15px;
          color: rgba($color: $color-anchor, $alpha: 0.75);
          &:hover {
            color: rgba($color: $color-anchor, $alpha: 1);
          }
        }
      }
    }
    p {
      margin: 0 !important;
      a {
        color: $color-anchor;
      }
    }
  }
}

// footer-menu

.footer-menu {
  margin: 3rem 0;
  .container {
    display: flex;
    gap: 40px;
    .footer-menu-block {
      flex: 1;
      h4 {
        color: $color-text;
      }
      .footer-menu-content {
        .footer-desc {
          color: $color-text-secondary;
          &:hover {
            color: $color-text;
          }
        }
        .footer-menu-blog {
          .footer-menu-blog-item {
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 10px;
            margin-bottom: 10px;
            .blog-item-img {
              flex: 1;
              img {
                height: 60px;
              }
            }
            .blog-item-desc {
              flex: 3;
              p {
                margin: 0;
                a {
                  color: $color-anchor;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              span {
                color: $color-text-secondary;
                font-family: $font-family-secondary;
                font-size: 11px;
              }
            }
          }
        }
        .footer-menu-ig {
          display: flex;
          flex-wrap: wrap;
          img {
            flex: 25%;
            width: 25%;
            max-height: 73px;
          }
        }
        #searchform {
          .input-group {
            .form-control {
              border: 1px solid #eaeaea;
              padding: 5px 10px;
              &:hover {
                border-color: $color-primary;
              }
            }
            .submit {
              padding: 10px;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
