$ms: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@media (max-width: $ms) {
}

@media (max-width: $sm) {
  .site-footer {
    .container {
      font-size: 1rem !important;
      .site-info {
        flex-direction: column;
        gap: 15px !important;
      }
    }
  }
  .clients-logo {
    flex-direction: column;
    align-items: center;
  }
  .view-all-btn {
    a {
      font-size: 14px;
      padding: 13px 5px !important;
    }
  }
}

@media (max-width: $md) {
  .home-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: minmax(auto, auto);
    .home-grid-img {
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }
  .about-wrapper {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
  .site-footer {
    .container {
      flex-direction: column;
      gap: 10px;
      font-size: 0.9rem;
    }
  }
  .social-icons-container {
    display: none !important;
  }
  .main-navigation {
    flex-wrap: wrap;
    .menu-nav-icons {
      flex-basis: 100%;
      .menu-primary-menu-container {
        flex-basis: 100%;
        text-align: center;
        ul {
          li {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .page {
    .entry-header {
      height: 30vh;
    }
  }
}

@media (max-width: $lg) {
  .footer-menu {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: $xl) {
}
